body{
  min-width: 700px;
}

.logo img{
  
  width: 300px;
}

header .menu{
  background-color: black;
  width: 100%;
  height: 60px;
}

header .menu li{
  float: left;
  list-style: none;
  line-height: 60px;
  padding-right: 30px;
  color: white;
}

.main{
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-top: 70px;
  align-items: stretch;
}

.main-container{
  
}

.left{
  border: 4px solid blue;
  display: inline-block;
  width: 67%;
  margin-bottom: 40px;
  vertical-align: top;
}

main .left img{
  width: 100%;
}

main .left h1{
  border-left: 5px solid black;
  border-bottom: 2px solid black;
}

main .left .kiji{
  width: 100%;
  background-color: lightgray;
  text-align: center;
}

main .left .kiji img{
  width: 170px;
  margin: 20px 10px -10px 10px;
}

main .left .kiji .box_pic{
  display: inline-block;
}

.right{
  border: 4px solid red;
  display: inline-block;
  width: 27%;
  margin-bottom: 40px;
  vertical-align: top;
}

main .right h2{
  border-bottom: 2px solid gray;
}

main .right ul{
  list-style: none;
}

footer{
  clear: both;
  width: 100%;
  height: 60px;

  color: white;
  background-color: black;
  text-align: center;
  line-height: 60px;
}